/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
.cards{
	display:flex;
	justify-content:center;
	padding:48px 0;
}
.card{
	width:400px;
	height:600px;
	text-align:center;
	box-shadow: 0 8px 18px 0 rgba(0,0,0,0.2);
}
h1{
	font-size:44px;
	font-weight:900;
}